<div id="content">

    <section class="sensors">
        
        <div class="info">

            <h2><i class="fa fa-info-circle fa-small" aria-hidden="true"></i>Sensor Info</h2>
            <p><b>Time updated:</b> {{data.time}}</p>
            <p><b>Color led:</b> {{data.output.led}}</p>
            <p><b>Distance sensor:</b> {{data.input.distance}} CM</p><br />

            <h2>Current status <a href="status" class="status-link"><strong>[Change status]</strong></a></h2>

            <div class="led-box">
                <div class="led-{{data.output.led}}"></div>
            </div>

        </div>

    </section>

<section class="top">

    <section class="chart">
        <h2>Distances from television today</h2>
        <p>
            Here you can see a realtime chart with the distances measured today.
            The sensor will monitor the distance between the television and the person every once in a while according to the settings.
        </p>
        <div id="chart"></div>
    </section>

</section>

<section class="bottom">

    <section class="leds modus">
        
        <h2><i class="fa fa-toggle-on fa-small" aria-hidden="true"></i>Current modus: {{data.modus}} <a href="modus" class="status-link"><strong>[Switch modus]</strong></a></h2>        

        <div class="main-modus modus-{{data.modus}}"></div>

    </section>

</section>

</div>